body{
    background-color: #f2f2f2;
}
.rounded{
    border-radius: 20px!important;
    border: 0px;
}
.card-title{
    font-size: 25px;
    font-weight: 700;
}
.card-body ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.card-body ul li{
    border-bottom: 1px solid #e9e9e9;
    border-top: 1px solid #e9e9e9;
}
.fa-check{
    color: #09b01b;
    font-size: 25px;
}
.fa-xmark{
    color: #cacaca;
    font-size: 25px;
}
.btn {
    display: block;
    width: 150px;
    padding: 10px;
    border-radius: 20px;
    margin: auto;
    margin-top: 20px!important;
    border: 0px;
}
.radus-title{
    display: inline-block;
    background-color: #fd203f;
    border-radius: 0% 0% 25% 25% / 27% 27% 43% 41%;
    width: 54%;
    height: 180%;
    margin: auto;
    box-shadow: 0px 15px 10px -15px #111; 
}
.title-name {
    color: white;
    font-size: 40px;
    font-weight: 200;
    display: block;
  }
  .radus-title {
    text-align: center;
  }
  .title-price-unite {
    font-size: 30px;
    color: white;
    font-weight: 700;
    display:inline-block;
    }
.title-price-number {
    font-size: 25px;
    color: white;
    font-weight: 600;
    display:inline-block;
  }
  .title-price-point {
    color: white;
    font-weight: 600;
    display:inline-block;
   }
   .price-bank {
    display: flex;
    align-items: start;
    justify-content: center;
    }
    .header-title-deging{
        display: flex;
        justify-content: center;
    }
    .liner{
        background-color: #fd203f;
        display: flex;
        justify-content: space-between;
        width: 73%;
        height: 26px;
        border-radius: 100px;
    }
    .item{
        display:inline-block;
        border-radius: 50% 50% 83% 11% / 45% 51% 0% 0%;
        background-color: #bd0004;
        width: 33px;
        height: 100%;
    }
    .green{
        background-color:#1bc751!important;
    }
    .green-sawdo{
        background-color:#0f752e!important;
    }
    .blue{
        background-color:#219dfd!important;
    }
    .blue-sadow{
        background-color:#166cad!important;
    }
    @media only screen and (max-width: 1199px) {
        .liner {
            width: 76%;
        }
  
    }
    @media only screen and (max-width: 991px) {
        .liner {
            width: 74%;
        }
  
    }
    @media only screen and (max-width: 767px) {
        .liner {
            width: 67%;
        }
  
    }
    @media only screen and (max-width: 375px) {
        .liner {
            width: 72%;
          }
    }
    @media only screen and (max-width: 400px) {
        .liner {
            width: 72%!important;
          }
    }
    @media only screen and (max-width: 475px) {
        .liner {
            width: 68%;
          }
    }